# Análisis
---

Para realizar este análisis y en vista de usar una plataforma diferente voy a realizar las queries en Jupyter Notebook y así no tendré que ir realizando cambios entre MySQL Workbench y este Jupyter Notebook.

Dicho esto, las 10 preguntas que voy a intentar resolver son las siguientes:

1. ¿Cuales son los actores con más películas en el DF?
2. ¿Cuales son los actores con menos películas?
3. ¿Cual es la categoría con más películas?
4. ¿Cual es la categoría con menos películas?
5. ¿Cual es la película en la que trabajan más actores?
6. ¿Cual es la película en la que trabajan menos actores?
7. ¿Cual es la película más larga del repertorio?
8. ¿Cual es la película más corta del repertorio?
9. ¿Cuanto fue el tiempo máximo de alquiler de una película?
10. ¿Cuanto fue el tiempo mínimo de alquiler de una película?
  
Vayamos paso a paso...

# Conexión con la BD
---

In [1]:
import mysql.connector as conn
from setting import password_MySQL

# Falta por importar host_MySL y user_MySQL

In [2]:
def querydb(query, limit=5):

    conexion = conn.connect(host='localhost',
                            user='root',
                            passwd=password_MySQL,
                            database='blockbuster')    # conexion al servidor
    cursor = conexion.cursor()
    query += f" limit {limit}"
    cursor.execute(query)
    res = cursor.fetchall()
    print(res)    
    cursor.close()
    conexion.close()

In [3]:
query = 'show databases;'
querydb(query)

[('blockbuster',), ('borrar',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [4]:
query = "SELECT * FROM new_hdd"
querydb(query, 2)

[(1, 1, 1, 6), (2, 23, 1, 2)]

Una vez establecida la conexión empiezo a responder a las preguntas

# Pregunta 1
### ¿Cuales son los actores con más películas en el DF?
---

In [5]:
query = '''
    SELECT 
        actor,
        first_name AS actor_name,
        last_name AS actor_surname,
        COUNT(film) AS films_by_actor
    FROM
        new_hdd
        LEFT JOIN actors ON actors.actor_id = new_hdd.actor
    GROUP BY actor
    ORDER BY films_by_actor DESC
'''
querydb(query, 3)

[(23, 'SANDRA', 'KILMER', 37), (37, 'VAL', 'BOLGER', 35), (13, 'UMA', 'WOOD', 35)]

El top 3 de actores con más películas son:
  
1. Sandra Kilmer con 37 películas.
2. VAL BOLGER con 35 películas.
1. UMA WOOD con 35 películas.

# Pregunta 2
### ¿Cuales son los actores con menos películas?
---

In [6]:
query = '''
    SELECT 
        actor,
        first_name AS actor_name,
        last_name AS actor_surname,
        COUNT(film) AS films_by_actor
    FROM
        new_hdd
        LEFT JOIN actors ON actors.actor_id = new_hdd.actor
    GROUP BY actor
    ORDER BY films_by_actor ASC
'''
querydb(query, 3)

[(39, 'GOLDIE', 'BRODY', 7), (35, 'JUDY', 'DEAN', 15), (31, 'SISSY', 'SOBIESKI', 18)]

El top 3 de actores con menos películas son:
  
1. Goldie Browdy con 7 películas.
2. Judy Dean con 15 películas.
1. Sissy Sobieski con 18 películas.

# Pregunta 3
### ¿Cual es la categoría con más películas?
---

In [7]:
query = '''
    SELECT 
        category,
        categories.name AS category_name,
        COUNT(film) AS films_by_category
    FROM
        new_hdd
        LEFT JOIN categories ON categories.category_id = new_hdd.category
    GROUP BY category
    ORDER BY films_by_category DESC
'''
querydb(query, 3)

[(15, 'Sports', 79), (1, 'Action', 77), (2, 'Animation', 75)]

Las categorías con más películas son:
  
  1. Sports con 79 películas.
  2. Action con 77 películas.
  3. Animation con 75 películas.

# Pregunta 4
### ¿Cual es la categoría con menos películas?
---

In [8]:
query = '''
    SELECT 
        category,
        categories.name AS category_name,
        COUNT(film) AS films_by_category
    FROM
        new_hdd
        LEFT JOIN categories ON categories.category_id = new_hdd.category
    GROUP BY category
    ORDER BY films_by_category ASC
'''
querydb(query, 3)

[(10, 'Games', 38), (5, 'Comedy', 46), (16, 'Travel', 52)]

Las categorías con menos películas son:
  
  1. Games con 38 películas.
  2. Comedy con 46 películas.
  3. Travel con 52 películas.

# Pregunta 5
### ¿Cual es la película en la que trabajan más actores?
---

In [9]:
query = '''
    SELECT 
        film.title,
        COUNT(actor) AS actors_by_film
    FROM
        new_hdd
        LEFT JOIN film ON film.film_id = new_hdd.film
    GROUP BY film
    ORDER BY actors_by_film DESC
'''
querydb(query, 3)

[('BOONDOCK BALLROOM', 6), ('FLASH WARS', 5), ('OKLAHOMA JUMANJI', 5)]

In [12]:
query = '''
    SELECT 
        film.title,
        COUNT(actor) AS actors_by_film
    FROM
        new_hdd
        LEFT JOIN film ON film.film_id = new_hdd.film
    GROUP BY film
    HAVING
        actors_by_film = 5
    ORDER BY actors_by_film DESC
'''
querydb(query, 10)

[('OKLAHOMA JUMANJI', 5), ('FLASH WARS', 5), ('CHITTY LOCK', 5), ('CONEHEADS SMOOCHY', 5), ('STRANGER STRANGERS', 5)]

Las peliculas en las que trabajan más actores son:
  
  1. Boondock ballroom con 6 actores.
  2. Flash wars, Oklahoma Jumanji, Chitty lock, Conheads Smoochy y Stranger Strangers con 5 actores.

# Pregunta 6
### ¿Cual es la película en la que trabajan menos actores?
---

In [55]:
query = '''
    SELECT 
        film.title,
        COUNT(actor) AS actors_by_film
    FROM
        new_hdd
        LEFT JOIN film ON film.film_id = new_hdd.film
    GROUP BY film
    ORDER BY actors_by_film ASC
'''
querydb(query, 3)

[('EXORCIST STING', 1), ('COLOR PHILADELPHIA', 1), ('GLEAMING JAWBREAKER', 1)]

In [14]:
query = '''
    SELECT 
        film.title,
        COUNT(actor) AS actors_by_film
    FROM
        new_hdd
        LEFT JOIN film ON film.film_id = new_hdd.film
    GROUP BY film
    HAVING
        actors_by_film = 1
    ORDER BY actors_by_film ASC
'''
querydb(query, 20)

[('BULWORTH COMMANDMENTS', 1), ('COLOR PHILADELPHIA', 1), ('GLEAMING JAWBREAKER', 1), ('LADY STAGE', 1), ('RULES HUMAN', 1), ('VERTIGO NORTHWEST', 1), ('CHAINSAW UPTOWN', 1), ('CHISUM BEHAVIOR', 1), ('DRACULA CRYSTAL', 1), ('FIGHT JAWBREAKER', 1), ('HAPPINESS UNITED', 1), ('JEKYLL FROGMEN', 1), ('LIAISONS SWEET', 1), ('MAGUIRE APACHE', 1), ('WARDROBE PHANTOM', 1), ('ARMY FLINTSTONES', 1), ('COWBOY DOOM', 1), ('EVE RESURRECTION', 1), ('FROST HEAD', 1), ('HUNTER ALTER', 1)]

Hay varias películas que tienen un solo actor, por lo que todas estarían en el mismo nivel.

# Pregunta 7
### ¿Cual es la película más larga del repertorio?
---

In [58]:
query = '''
    SELECT 
        film.title,
        film.length AS length
    FROM
        film
    ORDER BY length DESC
'''
querydb(query, 3)

[('DARN FORRESTER', 185), ('CHICAGO NORTH', 185), ('CONTROL ANTHEM', 185)]

In [17]:
query = '''
    SELECT 
        film.title,
        film.length AS length
    FROM
        film
    WHERE
        length = 185
    ORDER BY length DESC
'''
querydb(query, 11)

[('CHICAGO NORTH', 185), ('CONTROL ANTHEM', 185), ('DARN FORRESTER', 185), ('GANGS PRIDE', 185), ('HOME PITY', 185), ('MUSCLE BRIGHT', 185), ('POND SEATTLE', 185), ('SOLDIERS EVOLUTION', 185), ('SWEET BROTHERHOOD', 185), ('WORST BANGER', 185)]

Al igual que con el número mínimo de actores, en este caso hay 10 películas que duran lo mismo y comparten el mismo nivel, por lo que no puedo clasificar una película más larga en particular.

# Pregunta 8
### ¿Cual es la película más corta del repertorio?
---

In [59]:
query = '''
    SELECT 
        film.title,
        film.length AS length
    FROM
        film
    ORDER BY length ASC
'''
querydb(query, 3)

[('IRON MOON', 46), ('KWAI HOMEWARD', 46), ('ALIEN CENTER', 46)]

In [19]:
query = '''
    SELECT 
        film.title,
        film.length AS length
    FROM
        film
    WHERE
        length = 46
    ORDER BY length ASC
'''
querydb(query, 23)

[('ALIEN CENTER', 46), ('IRON MOON', 46), ('KWAI HOMEWARD', 46), ('LABYRINTH LEAGUE', 46), ('RIDGEMONT SUBMARINE', 46)]

Las peliculas más cortas del repertorio son:
  
  1. Iron Moon con 46 minutos.
  2. Kawai Homeward con 46 minutos.
  3. Alien Center con 46 minutos.
  4. Labyrinth League con 46 minutos.
  5. Ridgemont Dubmarine con 46 minutos.
  
  Todas están en el mismo nivel con 46 minutos de duración

# Pregunta 9
### ¿Cuanto fue el tiempo máximo de alquiler de una película?
---

In [60]:
query = '''
    SELECT 
        film.title,
        film.rental_duration AS ren_duration
    FROM
        film
    ORDER BY ren_duration DESC
'''
querydb(query, 3)

[('ARGONAUTS TOWN', 7), ('ADAPTATION HOLES', 7), ('ANONYMOUS HUMAN', 7)]

In [31]:
query = '''
    SELECT 
        film.title,
        film.rental_duration AS ren_duration
    FROM
        film
    WHERE
        rental_duration = 7
    ORDER BY ren_duration DESC
'''
querydb(query, 1000)

[('ADAPTATION HOLES', 7), ('ANONYMOUS HUMAN', 7), ('ARGONAUTS TOWN', 7), ('BIKINI BORROWERS', 7), ('BLACKOUT PRIVATE', 7), ('BLANKET BEVERLY', 7), ('BOILED DARES', 7), ('BOONDOCK BALLROOM', 7), ('BORN SPINAL', 7), ('BORROWERS BEDAZZLED', 7), ('BOWFINGER GABLES', 7), ('BRAVEHEART HUMAN', 7), ('BRIDE INTRIGUE', 7), ('BRINGING HYSTERICAL', 7), ('BROOKLYN DESERT', 7), ('BUCKET BROTHERHOOD', 7), ('CANYON STOCK', 7), ('CARRIE BUNCH', 7), ('CATCH AMISTAD', 7), ('CELEBRITY HORN', 7), ('CHAMBER ITALIAN', 7), ('CHAPLIN LICENSE', 7), ('CHASING FIGHT', 7), ('CHINATOWN GLADIATOR', 7), ('CHRISTMAS MOONSHINE', 7), ('CIDER DESIRE', 7), ('CITIZEN SHREK', 7), ('CLOCKWORK PARADISE', 7), ('COLDBLOODED DARLING', 7), ('CONEHEADS SMOOCHY', 7), ('CONFESSIONS MAGUIRE', 7), ('CONTACT ANONYMOUS', 7), ('CONTROL ANTHEM', 7), ('CRAZY HOME', 7), ('CRUELTY UNFORGIVEN', 7), ('CURTAIN VIDEOTAPE', 7), ('CYCLONE FAMILY', 7), ('DANGEROUS UPTOWN', 7), ('DARES PLUTO', 7), ('DARLING BREAKING', 7), ('DARN FORRESTER', 7), ('DECEIVER BETRAYED', 7), ('DEER VIRGINIAN', 7), ('DESIRE ALIEN', 7), ('DESPERATE TRAINSPOTTING', 7), ('DIARY PANIC', 7), ('DINOSAUR SECRETARY', 7), ('DIRTY ACE', 7), ('DOLLS RAGE', 7), ('DRACULA CRYSTAL', 7), ('EARTH VISION', 7), ('ELIZABETH SHANE', 7), ('EMPIRE MALKOVICH', 7), ('ENOUGH RAGING', 7), ('ESCAPE METROPOLIS', 7), ('FIREHOUSE VIETNAM', 7), ('FLIGHT LIES', 7), ('FOREVER CANDIDATE', 7), ('FORRESTER COMANCHEROS', 7), ('FRANKENSTEIN STRANGER', 7), ('FREAKY POCUS', 7), ('FUGITIVE MAGUIRE', 7), ('GAMES BOWFINGER', 7), ('GANDHI KWAI', 7), ('GHOSTBUSTERS ELF', 7), ('GILBERT PELICAN', 7), ('GLORY TRACY', 7), ('GONE TROUBLE', 7), ('GRADUATE LORD', 7), ('GREASE YOUTH', 7), ('GREEDY ROOTS', 7), ('GREEK EVERYONE', 7), ('GRINCH MASSAGE', 7), ('GUN BONNIE', 7), ('HAMLET WISDOM', 7), ('HARDLY ROBBERS', 7), ('HEAVEN FREEDOM', 7), ('HEDWIG ALTER', 7), ('HOLES BRANNIGAN', 7), ('HOLIDAY GAMES', 7), ('HOLLOW JEOPARDY', 7), ('HOLLYWOOD ANONYMOUS', 7), ('HOME PITY', 7), ('HOOK CHARIOTS', 7), ('HOUSE DYNAMITE', 7), ('IGBY MAKER', 7), ('IMPOSSIBLE PREJUDICE', 7), ('IRON MOON', 7), ('ISLAND EXORCIST', 7), ('JEDI BENEATH', 7), ('JET NEIGHBORS', 7), ('KILLER INNOCENT', 7), ('LAWRENCE LOVE', 7), ('LEGALLY SECRETARY', 7), ('LEGEND JEDI', 7), ('LICENSE WEEKEND', 7), ('LIES TREATMENT', 7), ('LIGHTS DEER', 7), ('LOCK REAR', 7), ('LOVERBOY ATTACKS', 7), ('LUCK OPUS', 7), ('LUCKY FLYING', 7), ('MADRE GABLES', 7), ('MARRIED GO', 7), ('MENAGERIE RUSHMORE', 7), ('MIGHTY LUCK', 7), ('MOON BUNCH', 7), ('MULHOLLAND BEAST', 7), ('MUSCLE BRIGHT', 7), ('MUSIC BOONDOCK', 7), ('MUSKETEERS WAIT', 7), ('NOTORIOUS REUNION', 7), ('NOTTING SPEAKEASY', 7), ('OKLAHOMA JUMANJI', 7), ('OPEN AFRICAN', 7), ('OPERATION OPERATION', 7), ('OPPOSITE NECKLACE', 7), ('ORDER BETRAYED', 7), ('OSCAR GOLD', 7), ('OTHERS SOUP', 7), ('OUTLAW HANKY', 7), ('PARIS WEEKEND', 7), ('PARTY KNOCK', 7), ('PATIENT SISTER', 7), ('PEAK FOREVER', 7), ('PERDITION FARGO', 7), ('PERFECT GROOVE', 7), ('PHILADELPHIA WIFE', 7), ('POND SEATTLE', 7), ('PRIMARY GLASS', 7), ('PRIVATE DROP', 7), ('RACER EGG', 7), ('REBEL AIRPORT', 7), ('RECORDS ZORRO', 7), ('REDS POCUS', 7), ('RESERVOIR ADAPTATION', 7), ('RIGHT CRANES', 7), ('ROBBERS JOON', 7), ('ROMAN PUNK', 7), ('ROOF CHAMPION', 7), ('ROOM ROMAN', 7), ('SADDLE ANTITRUST', 7), ('SANTA PARIS', 7), ('SATURN NAME', 7), ('SENSIBILITY REAR', 7), ('SHANGHAI TYCOON', 7), ('SHEPHERD MIDSUMMER', 7), ('SHOCK CABIN', 7), ('SHREK LICENSE', 7), ('SIEGE MADRE', 7), ('SILENCE KANE', 7), ('SINNERS ATLANTIS', 7), ('SKY MIRACLE', 7), ('SLACKER LIAISONS', 7), ('SLEEPING SUSPECTS', 7), ('SMOKING BARBARELLA', 7), ('SMOOCHY CONTROL', 7), ('SOLDIERS EVOLUTION', 7), ('SPEED SUIT', 7), ('SPIKING ELEMENT', 7), ('SPINAL ROCKY', 7), ('SPIRIT FLINTSTONES', 7), ('STEPMOM DREAM', 7), ('STOCK GLASS', 7), ('STORY SIDE', 7), ('STREAK RIDGEMONT', 7), ('TEXAS WATCH', 7), ('TOWERS HURRICANE', 7), ('TRAINSPOTTING STRANGERS', 7), ('TRIP NEWTON', 7), ('TRUMAN CRAZY', 7), ('UNCUT SUICIDES', 7), ('UNDEFEATED DALMATIONS', 7), ('UNFAITHFUL KILL', 7), ('UNFORGIVEN ZOOLANDER', 7), ('VALENTINE VANISHING', 7), ('VANILLA DAY', 7), ('VARSITY TRIP', 7), ('VIETNAM SMOOCHY', 7), ('VOLUME HOUSE', 7), ('WAGON JAWS', 7), ('WAKE JAWS', 7), ('WALLS ARTIST', 7), ('WANDA CHAMBER', 7), ('WAR NOTTING', 7), ('WASH HEAVENLY', 7), ('WASTELAND DIVINE', 7), ('WESTWARD SEABISCUIT', 7), ('WOLVES DESIRE', 7), ('WON DARES', 7), ('WORKER TARZAN', 7)]

Como se puede ver hay muchas películas que tubieron el mismo tiempo de alquiler, que fue de 7 días, siendo este tiempo el máximo que se ha prestado alguna película.

# Pregunta 10
### ¿Cuanto fue el tiempo mínimo de alquiler de una película?
---

In [61]:
query = '''
    SELECT 
        film.title,
        film.rental_duration AS ren_duration
    FROM
        film
    ORDER BY ren_duration ASC
'''
querydb(query, 3)

[('ALABAMA DEVIL', 3), ('ACE GOLDFINGER', 3), ('AGENT TRUMAN', 3)]

In [32]:
query = '''
    SELECT 
        film.title,
        film.rental_duration AS ren_duration
    FROM
        film
    WHERE
        rental_duration = 3
    ORDER BY ren_duration ASC
'''
querydb(query, 1000)

[('ACE GOLDFINGER', 3), ('AGENT TRUMAN', 3), ('ALABAMA DEVIL', 3), ('ALONE TRIP', 3), ('AMERICAN CIRCUS', 3), ('ANACONDA CONFESSIONS', 3), ('ANGELS LIFE', 3), ('ANNIE IDENTITY', 3), ('ARIZONA BANG', 3), ('AUTUMN CROW', 3), ('BACKLASH UNDEFEATED', 3), ('BAKED CLEOPATRA', 3), ('BEAST HUNCHBACK', 3), ('BEHAVIOR RUNAWAY', 3), ('BEVERLY OUTLAW', 3), ('BILKO ANONYMOUS', 3), ('BLOOD ARGONAUTS', 3), ('BOULEVARD MOB', 3), ('BROTHERHOOD BLANKET', 3), ('BUTTERFLY CHOCOLAT', 3), ('CADDYSHACK JEDI', 3), ('CAMELOT VACATION', 3), ('CARIBBEAN LIBERTY', 3), ('CASPER DRAGONFLY', 3), ('CASUALTIES ENCINO', 3), ('CAUSE DATE', 3), ('CHANCE RESURRECTION', 3), ('CHARADE DUFFEL', 3), ('CHICKEN HELLFIGHTERS', 3), ('CHOCOLATE DUCK', 3), ('CLERKS ANGELS', 3), ('COMFORTS RUSH', 3), ('CONFUSED CANDLES', 3), ('CORE SUIT', 3), ('COWBOY DOOM', 3), ('CREATURES SHAKESPEARE', 3), ('CROWDS TELEMARK', 3), ('DANCES NONE', 3), ('DARKO DORADO', 3), ('DAUGHTER MADIGAN', 3), ('DAY UNFAITHFUL', 3), ('DESTINATION JERK', 3), ('DISCIPLE MOTHER', 3), ('DIVORCE SHINING', 3), ('DOORS PRESIDENT', 3), ('DOWNHILL ENOUGH', 3), ('DRUMLINE CYCLONE', 3), ('DUDE BLINDNESS', 3), ('EARRING INSTINCT', 3), ('EGYPT TENENBAUMS', 3), ('ENGLISH BULWORTH', 3), ('EXCITEMENT EVE', 3), ('EXPENDABLE STALLION', 3), ('FARGO GANDHI', 3), ('FEATHERS METAL', 3), ('FERRIS MOTHER', 3), ('FIGHT JAWBREAKER', 3), ('FLASH WARS', 3), ('FLINTSTONES HAPPINESS', 3), ('FOOL MOCKINGBIRD', 3), ('FURY MURDER', 3), ('GABLES METROPOLIS', 3), ('GARDEN ISLAND', 3), ('GO PURPLE', 3), ('GODFATHER DIARY', 3), ('GOLDFINGER SENSIBILITY', 3), ('GRAFFITI LOVE', 3), ('GRIT CLOCKWORK', 3), ('GUMP DATE', 3), ('GUNFIGHTER MUSSOLINI', 3), ('HARPER DYING', 3), ('HEARTBREAKERS BRIGHT', 3), ('HELLFIGHTERS SIERRA', 3), ('HIGH ENCINO', 3), ('HONEY TIES', 3), ('HOOSIERS BIRDCAGE', 3), ('HORROR REIGN', 3), ('HUMAN GRAFFITI', 3), ('HUSTLER PARTY', 3), ('IDAHO LOVE', 3), ('IMAGE PRINCESS', 3), ('INNOCENT USUAL', 3), ('INSECTS STONE', 3), ('INTENTIONS EMPIRE', 3), ('ITALIAN AFRICAN', 3), ('JEEPERS WEDDING', 3), ('JEOPARDY ENCINO', 3), ('JERICHO MULAN', 3), ('JERK PAYCHECK', 3), ('JOON NORTHWEST', 3), ('KICK SAVANNAH', 3), ('KING EVOLUTION', 3), ('KISSING DOLLS', 3), ('KRAMER CHOCOLATE', 3), ('LESSON CLEOPATRA', 3), ('LIBERTY MAGNIFICENT', 3), ('LONELY ELEPHANT', 3), ('LOSE INCH', 3), ('LOVELY JINGLE', 3), ('LOVER TRUMAN', 3), ('LUST LOCK', 3), ('MAGIC MALLRATS', 3), ('MAGNIFICENT CHITTY', 3), ('MAIDEN HOME', 3), ('MANNEQUIN WORST', 3), ('MEET CHOCOLATE', 3), ('MIDNIGHT WESTWARD', 3), ('MIDSUMMER GROUNDHOG', 3), ('MINDS TRUMAN', 3), ('MINE TITANS', 3), ('MIRACLE VIRTUAL', 3), ('MISSION ZOOLANDER', 3), ('MODERN DORADO', 3), ('MONEY HAROLD', 3), ('MOTHER OLEANDER', 3), ('MUMMY CREATURES', 3), ('NECKLACE OUTBREAK', 3), ('NEIGHBORS CHARADE', 3), ('NIGHTMARE CHILL', 3), ('NONE SPIKING', 3), ('ORIENT CLOSER', 3), ('PACIFIC AMISTAD', 3), ('PACKER MADIGAN', 3), ('PAJAMA JAWBREAKER', 3), ('PANIC CLUB', 3), ('PAPI NECKLACE', 3), ('PARK CITIZEN', 3), ('PATHS CONTROL', 3), ('PEACH INNOCENT', 3), ('PEARL DESTINY', 3), ('PERSONAL LADYBUGS', 3), ('PET HAUNTING', 3), ('PICKUP DRIVING', 3), ('POTLUCK MIXED', 3), ('PRINCESS GIANT', 3), ('PURE RUNNER', 3), ('RAINBOW SHOCK', 3), ('RANGE MOONWALKER', 3), ('REDEMPTION COMFORTS', 3), ('REIGN GENTLEMEN', 3), ('REUNION WITCHES', 3), ('RIDGEMONT SUBMARINE', 3), ('ROCKETEER MOTHER', 3), ('ROUGE SQUAD', 3), ('RUN PACIFIC', 3), ('RUSH GOODFELLAS', 3), ('SATISFACTION CONFIDENTIAL', 3), ('SATURDAY LAMBS', 3), ('SCARFACE BANG', 3), ('SCORPION APOLLO', 3), ('SEARCHERS WAIT', 3), ('SECRETS PARADISE', 3), ('SHOW LORD', 3), ('SIERRA DIVIDE', 3), ('SIMON NORTH', 3), ('SNOWMAN ROLLERCOASTER', 3), ('SONG HEDWIG', 3), ('SONS INTERVIEW', 3), ('SQUAD FISH', 3), ('STING PERSONAL', 3), ('STONE FIRE', 3), ('STRAIGHT HOURS', 3), ('STRANGER STRANGERS', 3), ('STRICTLY SCARFACE', 3), ('SUGAR WONKA', 3), ('SUIT WALLS', 3), ('SUNRISE LEAGUE', 3), ('SWEET BROTHERHOOD', 3), ('SWEETHEARTS SUSPECTS', 3), ('TARZAN VIDEOTAPE', 3), ('TEEN APOLLO', 3), ('TELEGRAPH VOYAGE', 3), ('TIES HUNGER', 3), ('TIMBERLAND SKY', 3), ('TITANIC BOONDOCK', 3), ('TOMORROW HUSTLER', 3), ('TOOTSIE PILOT', 3), ('TORQUE BOUND', 3), ('TRACY CIDER', 3), ('TRAIN BUNCH', 3), ('TRAP GUYS', 3), ('TREASURE COMMAND', 3), ('TREATMENT JEKYLL', 3), ('TROJAN TOMORROW', 3), ('TROOPERS METAL', 3), ('TURN STAR', 3), ('TUXEDO MILE', 3), ('TYCOON GATHERING', 3), ('UNBREAKABLE KARATE', 3), ('UNITED PILOT', 3), ('VALLEY PACKER', 3), ('VANISHING ROCKY', 3), ('VELVET TERMINATOR', 3), ('VIRTUAL SPOILERS', 3), ('WAIT CIDER', 3), ('WEDDING APOLLO', 3), ('WIFE TURN', 3), ('WINDOW SIDE', 3), ('WISDOM WORKER', 3), ('WONDERFUL DROP', 3), ('WORDS HUNTER', 3), ('WORLD LEATHERNECKS', 3), ('ZORRO ARK', 3)]

Al igual de la cuestión anterior, ocurre lo mismo con el número mínimo de dias, que es de 3  y hay varias películas que fueron devueltas trascurrido este tiempo.